<div class="game-board">
  <button *ngFor="let ind of squarenums" class="square" (click)="squareClick(ind)">{{boardprops.currentsquares[ind]}}</button>
</div>
<!-- This child component receives the boardprops config object from the parent component.
  That config object is updated in the parent component and the changes are reflected in the child component.
  The click handler is part of the child component but ends up emitting an event which is picked up by
  the parent component.
-->
