<div class="game-info">
    <h2>{{infoprops.status}}</h2>
    <ol start="0">
      <li *ngFor="let m of infoprops.moves" class="{{m.liclass}}">
        <button type="button" (click)="stepClick(m.move)">{{m.desc}}</button>
      </li>
    </ol>
</div>
