<!-- The two components listed within root receive data updates from AppComponent.
  The pattern in both is the same. A config object is passed (e.g. boardprops) that contains
  updated state information. An event handler (e.g. squareclicked) is also put in place
  which allows the child component to send user responses back to the parent component.
-->
<div id="root">
  <h1>{{title}}</h1>
  <div class="gamecontrols">
      <app-gameboard [boardprops]="boardprops" (squareclicked)=handleClick($event)></app-gameboard>
      <app-gameinfo [infoprops]="infoprops" (stepclicked)="jumpTo($event)" #info></app-gameinfo>
  </div>

  <button *ngIf="moves.length > 0" class="resetBtn" type="button" (click)="resetGame()">Reset</button>
</div>

<div class="fw fw-left">A N G U L A R</div>
<div class="fw fw-right">A N G U L A R</div>
