/* You can add global styles to this file, and also import other style files */
html {font-size:10px;}
body {
    font-family: Futura, sans-serif;
    font-size: 1.5rem;
    margin: 5px;
    background-color:#1976d2;
}
h1 {font-size:2.5rem;padding:0;margin:0 0 1rem 0;text-align:center;}
h2 {font-size:1.6rem;padding:0;margin:0;text-align:center;}
button {
  cursor:pointer;
  -webkit-appearance: none;
}
#root {
  background-color:#fff;
  margin:0 auto;
  max-width:38rem;
  min-height:29rem;
  width:auto;
  height:auto;
  padding:1rem 2rem 3rem 2rem;
  border:2px solid rgb(155, 155, 155);
  display:block;
  position:relative;
}
.gamecontrols {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.fw {
    position:absolute;
    top:20px;
    text-align:center;
    max-width:1em;
    font-size:2rem;
    opacity:0.5;
    color:white;
}
.fw-left {left:5px;}
.fw-right {right:5px;}
ol, ul {
    padding-left: 2rem;
}

.status {
    margin-bottom: 1rem;
}

.game-board {
  width:10.2rem;
  height:10.2rem;
  margin:0 1rem 1rem 1rem;
  padding:0;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.4rem;
    height: 3.4rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 3.4rem;
    color:#000;
}
.square-selected {color:#090;}

.square:focus {
    outline: none;
}



.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin:0;
    min-width:20rem;
}
li {font-size:1.2rem;}
li button {
  background: #ccc;
  border:1px solid #666;
  font-family:inherit;
  font-size:inherit;
  font-weight:normal;
  line-height:1.4;
  margin:0 0 0.2rem 0;
  cursor:pointer;}
li button:hover, li button:focus {font-weight:bold;}
li.boldli button {font-weight:bold;}

.resetBtn {
  display:block;
  position:absolute;
  width:6rem;
  left:calc(50% - 3rem);bottom:1rem;
  background: #ccc;
  color: #333;
  border:1px solid #666;
  font-size:inherit;
  font-weight:normal;
  margin:1rem 0 0 0;
  border-radius:12px;
}
.resetBtn:hover, .resetBtn:focus {
  background: #333;
  color:#fff;
}

@media (min-width: 23rem){
  h2 {text-align:left;}
}

@media (min-width: 600px){
  html {font-size: 12px;}
}
@media (min-width: 800px){
  html {font-size: 16px;}
}
@media (min-width: 1000px){
  html {font-size: 18px;}
}
@media (min-width: 1200px){
  html {font-size: 20px;}
}
@media (min-width: 1400px){
  html {font-size: 22px;}
}
@media (min-width: 1600px){
  html {font-size: 24px;}
}
@media (min-width: 1800px){
  html {font-size: 26px;}
}
